/* body {
    background-color: #7fffd4;
} */
/* 

TODO: make buttons purple


TODO: hide the correct elements at the correct times, first start screen then the question screen and then the input screen and finally a highscore list screen


TODO: make sure the correct/incorrect text is obvious when an answer is picked


TODO: make the highscore link look correct


TODO: style timer to make it clear when time is running low.


TODO: style question text to be bigger and bold


TODO:style high scores list for the end.


  */