/* body {
    background-color: #7fffd4;
} */
/* 

TODO: make buttons purple and text color white



TODO: make sure the correct/incorrect text is obvious when an answer is picked


TODO: make the highscore link look correct


TODO: style timer to make it clear when time is running low.


TODO: style question text to be easier to read


TODO:style high scores list for the end.


  */